.card-shadow {
    border-radius: 6px;
    display: block;
    overflow: hidden;
}

.card-shadow .card-body {
    padding: 16px;
    z-index: 1;
    position: relative;
}

.card-shadow-light {
    background-color: rgb(235, 235, 235);
    box-shadow: 8px 8px #bc1742;
}

.card-shadow-dark {
    background-color: rgb(50, 50, 50);
    color:white;
    box-shadow: 8px 8px #bc1742;
}

.card-shadow-link {
    text-decoration: none;
    color:rgb(50,50,50);
    transition: box-shadow .3s;
}

.card-shadow-link:hover {
    box-shadow: 12px 12px #bc1742;
}

.card-shadow-primary {
    box-shadow: 8px 8px rgb(235, 235, 235);
    color:white;
    background: rgb(188, 23, 66);
    background: linear-gradient(124deg, rgba(188, 23, 66, 1) 12%, rgba(44, 76, 155, 1) 99%);
}

.card-shadow-link.card-shadow-primary:hover {
    box-shadow: 12px 12px rgb(235, 235, 235);
}

.card-shadow-dark.card-shadow-link,
.card-shadow-primary.card-shadow-link,
.card-shadow-raiv.card-shadow-link {
    color:white;
}

.card-shadow-raiv {
    background-color: #ba1414;
    box-shadow: 8px 8px rgb(235, 235, 235);
    color:white;
}

.card-shadow-link.card-shadow-raiv:hover {
    box-shadow: 12px 12px rgb(235, 235, 235);
}

.card-shadow-star {
    background-color: #63fd9a;
    color: #173166;
    box-shadow: 8px 8px #173166;
}

.card-shadow-star.card-shadow-link {
    color:#173166;
}

.card-shadow-link.card-shadow-star:hover {
    box-shadow: 12px 12px #173166;
}

.card-image {
    border-radius: 6px;
    width: 100%;
    box-shadow: 8px 8px #bc1742;
}

.card-image-appartcity {
    border-radius: 6px;
    width: 100%;
    box-shadow: 8px 8px rgb(236, 82, 107);
}

.card-title {
    color: #bc1742;
}

@media (min-width:768px) {
    .card {
        display: flex;
        align-items: start;
    }

    .card-right {
        display: flex;
        align-content: end;
        justify-content: space-between;
    }

    .card-aside {
        padding-right: 22px;
    }

    .card-image {
        width: 480px;
    }

    .card-image-appartcity {
        width: 480px;
    }
}