* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:rgb(50,50,50);
}

h1, h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 38px;
}

.header-cover {
    height:480px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.header-cover::after {
    display: block;
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%);
    margin: 0px -12px;
}

.header-cover-content {
    position: absolute;
    z-index: 2;
    padding:0px 12px;
    width: 100%;
}

.footer-legals {
    text-align: center;
    font-size: 14px;
    margin:18px 0px;
    color:rgb(100,100,100);
}

.cover-image {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
}

.cover-image-top {
    object-position: 50% 0%;
}

.opacity-50 {
    opacity: 0.5;
}

.navbar {
    position: sticky;
    z-index: 100;
    top:0px;
    width: 100%;
    background-color:white;
    border-bottom: 1px solid rgb(200,200,200);
}

.navbar-controls {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 12px;
}

.img-fluid {
    max-width: 100%;
}

.logo-image {
    max-height: 80px;
    max-width: 150px;
    display: block;
}

.burger-menu-link {
    position: relative;
    width: 40px;
    height: 40px;
    transition-duration: 0.5s;
}

.burger-menu-icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 19px;
    background-color: rgb(100,100,100);
    border-radius: 3px;
    left: 5px;
}

.burger-menu-icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(100,100,100);
    content: "";
    top: -10px;
    border-radius: 3px;
}

.burger-menu-icon:after{
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgb(100,100,100);
    content: "";
    top: 10px;
    border-radius: 3px;
}

.burger-menu-link.active .burger-menu-icon {
    transition-duration: 0.5s;
    background: transparent;
}

.burger-menu-link.active .burger-menu-icon::before {
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}

.burger-menu-link.active .burger-menu-icon::after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

.menu-content {
    display:none;
    position:fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}

.menu-content.active {
    display: block;
}

.navbar-menu, .dropdown-menu {
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar-menu {
    font-size: 24px;
}

.menu-item {
    list-style-type: none;
    margin: 8px 10px;
}

.menu-link {
    padding: 12px 12px;
    display: inline-block;
    font-weight: bold;
    color: rgb(50,50,50);
    text-decoration: none;
    border-radius: 6px;
}

.menu-link.active {
    color:white;
    /*background-color: #9c0286;*/
    background-color: #bc1742;
}

.menu-link:hover {
    /*color: #9c0286;*/
    color: #bc1742;
    background-color: rgb(240,240,240);
}

.dropdown-menu .menu-link {
    font-weight: normal;
    padding: 8px 12px;
}

.btn {
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    color: rgb(50,50,50);
    transition: background-color .3s;
}

.btn-light {
    background-color: rgb(240,240,240);
    border: 1px solid rgb(220, 220, 220);
}

.btn-light:hover {
    background-color: rgb(220,220,220);
}

.btn-primary {
    /*background-color: #9c0286;*/
    background-color: #bc1742;
    /*border: 1px solid #730163;*/
    /*border: 1px solid #8A1031;*/
    border: 1px solid #bc1742;
    color:white;
}

.btn-secondary {
    background-color: #2c4c9b;
    border: 1px solid #2c4c9b;
    color:white;
}

.btn-primary:hover {
    /*background-color: #730163;*/
    background-color: #2c4c9b;
    border: 1px solid #2c4c9b;
}

.btn-outline-primary {
    /*border: 2px solid #9c0286;*/
    border: 2px solid #bc1742;
    /*color:#9c0286;*/
    color: #bc1742;
}

.btn-outline-secondary {
    border: 2px solid #2c4c9b;
    color: #2c4c9b;
}

.btn-outline-primary:hover,
.card-shadow-link:hover .btn-outline-primary {
    /*border-color: #730163;*/
    border-color: #bc1742;
    /*background-color: #9c0286;*/
    background-color: #bc1742;
    color:white;
}

.btn-outline-secondary:hover {
    border-color: #2c4c9b;
    background-color: #2c4c9b;
    color: white;
}

.btn-outline-white {
    border: 2px solid white;
    color:white;
}

.btn-outline-white:hover,
.card-shadow-link:hover .btn-outline-white {
    border-color: white;
    background-color: white;
    /*color:#9c0286;*/
    color: #bc1742;
}

.btn-outline-star {
    border: 2px solid #173166;
    color:#173166;
}

.btn-outline-star:hover {
    background-color: #173166;
    color:#63fd9a;
}

.btn-lg {
    font-size: 20px;
    padding: 8px 16px;
}

.btn-xl {
    font-size: 26px;
    padding: 8px 16px;
}

.dropdown {
    border-radius: 6px;
    transition: background-color .5s;
    background-color: transparent;
}

.dropdown-toggler:after {
    content: "+";
    margin-left: 8px;
    transition: transform .3s;
    position: absolute;
}

.dropdown.active > .dropdown-toggler:after {
    transform: rotateZ(45deg);
}

.dropdown-menu {
    display: none;
}

.dropdown.active > .dropdown-menu {
    display: block;
}

.dropdown.active {
    background-color: rgb(240,240,240);
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.position-relative {
    position: relative !important;
}

.bg-dark {
    background-color: rgb(50,50,50);
}

.text-light {
    color:white;
}

.text-secondary {
    color: rgb(100,100,100);
}

.text-primary {
    /*color:#9c0286;*/
    color: #bc1742;
}

.text-primary-blue {
    color: #2c4c9b;
}

.text-danger {
    color:rgb(217, 69, 69);
}

.text-gold {
    color:rgb(255,185,33);
}

.fs-6 {
    font-size: 100% !important;
}

.fs-5 {
    font-size: 115% !important;
}

.fs-4 {
    font-size: 130% !important;
}

.highlight-light {
    background-color: white;
    /*color:#9c0286;*/
    color: #bc1742;
    padding: 6px;
}

.schedule-table-container {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    overflow: hidden;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table td,
.schedule-table th {
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 8px;
}

.schedule-header {
    text-align: left;
    text-transform: uppercase;
}

.schedule-header th {
    font-weight: 800;
}

.schedule-final {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(255,185,33);
    background: linear-gradient(45deg, rgba(255,185,33,1) 0%, rgba(255,218,0,1) 100%);
}

.alert-danger {
    background-color: rgb(217, 69, 69);
    padding: 0px 12px;
    color:white;
}

.alert-danger::after {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, rgba(217,69,69,1) 51%);
    margin: 0px -12px;
}

.alert-danger::before {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(180.5deg, rgba(255,255,255,1) 50%, rgba(217,69,69,1) 51%);
    margin: 0px -12px;
}

.card-image {
    border-radius: 6px;
    width: 100%;
    /*box-shadow: 8px 8px #9c0286;*/
    box-shadow: 8px 8px #bc1742;
}

.card-title {
    /*color: #9c0286;*/
    color: #bc1742;
}

.section-primary {
    /*background-color: #9c0286;*/
    background-color: #bc1742;
    color:white;
}

.section-primary::after {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    /*background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, #9c0286 51%);*/
    background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, #bc1742 51%);
}

.section-primary::before {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    /*background: linear-gradient(180.5deg, rgba(255,255,255,1) 50%, #9c0286 51%);*/
    background: linear-gradient(180.5deg, rgba(255,255,255,1) 50%, #bc1742 51%);
}

.section-dark {
    background-color: rgb(80,80,80);
    color:white;
}

.section-dark::after {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, rgb(80,80,80) 51%);
}

.section-dark::before {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(180.5deg, rgba(255,255,255,1) 50%, rgb(80,80,80) 51%);
}

.section-light {
    background-color: rgb(235, 235, 235);
}

.section-light::after {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(0.5deg, rgba(255,255,255,1) 50%, rgb(235, 235, 235) 51%);
}

.section-light::before {
    display: block;
    content: "";
    height: 28px;
    background: rgb(255,255,255);
    background: linear-gradient(180.5deg, rgba(255,255,255,1) 50%, rgb(235, 235, 235) 51%);
}

@media (min-width:768px) {
    .card {
        display: flex;
        align-items: start;
    }

    .card-aside {
        padding-right: 22px;
    }

    .card-image {
        width: 480px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-toggler {
        display: none;
    }

    .menu-content {
        display: block;
        position: unset;
        top:unset;
        left:unset;
        right:unset;
        bottom: unset;
    }

    .navbar-content, .navbar-menu {
        display: flex;
        align-items: center;
    }

    .navbar-content {
        padding:0px 12px;
    }

    .navbar .dropdown {
        position: relative;
    }

    .navbar .dropdown-menu {
        position: absolute;
        background-color: rgb(240,240,240);
        border-radius: 6px;
    }

    .menu-item.dropdown:hover .dropdown-menu {
        display: block;
    }

    .navbar-menu {
        font-size: 18px;
    }
}

@media (min-width:1024px) { 
    .navbar-menu {
        font-size: 24px;
    }
}

.partners {
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.partner-item {
    margin:12px 22px;
    list-style-type: none;
    display:inline-block;
}

.partner-image, .partner-item {
    max-width:120px;
    max-height: 44px;
}

@media (min-width:1024px) { 
    .partner-item, .partner-image {
        max-width: 160px;
        max-height: 60px;
    }
}

.card-shadow {
    border-radius: 6px;
    display: block;
    overflow: hidden;
}

.card-shadow .card-body {
    padding: 16px;
    z-index: 1;
    position: relative;
}

.card-shadow-light {
    background-color: rgb(235, 235, 235);
    /*box-shadow: 8px 8px #9c0286;*/
    box-shadow: 8px 8px #bc1742;
}

.card-shadow-dark {
    background-color: rgb(50, 50, 50);
    color:white;
    /*box-shadow: 8px 8px #9c0286;*/
    box-shadow: 8px 8px #bc1742;
}

.card-shadow-link {
    text-decoration: none;
    color:rgb(50,50,50);
    transition: box-shadow .3s;
}

.card-shadow-link:hover {
    /*box-shadow: 12px 12px #9c0286;*/
    box-shadow: 8px 8px #bc1742;
}

.card-shadow-primary {
    /*background-color: #9c0286;*/
    background-color: #bc1742;
    box-shadow: 8px 8px rgb(235, 235, 235);
    color:white;
}

.card-shadow-link.card-shadow-primary:hover {
    box-shadow: 12px 12px rgb(235, 235, 235);
}

.card-shadow-dark.card-shadow-link,
.card-shadow-primary.card-shadow-link,
.card-shadow-raiv.card-shadow-link {
    color:white;
}

.card-shadow-raiv {
    background-color: #ba1414;
    box-shadow: 8px 8px rgb(235, 235, 235);
    color:white;
}

.card-shadow-link.card-shadow-raiv:hover {
    box-shadow: 12px 12px rgb(235, 235, 235);
}

.card-shadow-star {
    background-color: #63fd9a;
    color: #173166;
    box-shadow: 8px 8px #173166;
}

.card-shadow-star.card-shadow-link {
    color:#173166;
}

.card-shadow-link.card-shadow-star:hover {
    box-shadow: 12px 12px #173166;
}

.img-thumb {
    max-width:120px;
}

.rounded {
    border-radius: 6px;
}

.article-image {
    max-width:768px;
    width:100%;
    display: block;
    margin: auto;
}

.border-bottom {
    border-bottom: 1px solid rgb(200,200,200);
}

.article {
    max-width: 768px;
}